#!bash


# ------------------------------------------------------------------
# | Editor                                                         |
# ------------------------------------------------------------------

# vim as default
export EDITOR="nano"


# ------------------------------------------------------------------
# | Man Stuff                                                      |
# ------------------------------------------------------------------

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"


# ------------------------------------------------------------------
# | Colours                                                        |
# ------------------------------------------------------------------

# here's LS_COLORS
# github.com/trapd00r/LS_COLORS
command -v gdircolors >/dev/null 2>&1 || alias gdircolors="dircolors"
eval "$(gdircolors -b ~/.dircolors)"


# ------------------------------------------------------------------
# | MISC                                                           |
# ------------------------------------------------------------------

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# ------------------------------------------------------------------
# | Paths                                                          |
# ------------------------------------------------------------------

export NPM_PACKAGES="$HOME/.npm-packages"
export NODE_PATH="$HOME/.npm-packages:$HOME/.node/lib/node_modules:$NODE_PATH"
export NODE_PATH="$NPM_PACKAGES/lib/node_modules:$NODE_PATH"
# Export node modules variable
export NODE_PATH="/usr/local/lib/node_modules:$NODE_PATH"

# Add `~/bin` to the `$PATH`
export PATH="$HOME/bin:$PATH"

# Add `~/sbin` to the `$PATH`
export PATH="$HOME/sbin:/usr/local/sbin:$PATH"

# Add `~/Android/platform-tools` to the `$PATH` for adb
export PATH="$HOME/Android/platform-tools:$PATH"

# Add `$NPM_PACKAGES` to the `$PATH` for npm globals
export PATH="$NPM_PACKAGES/bin:$PATH"

# Add RVM to PATH for scripting
export PATH="$HOME/.rvm/bin:$PATH"

# command
unset MANPATH # delete if you already modified MANPATH elsewhere in your config
export MANPATH="$NPM_PACKAGES/share/man:$(manpath)"
