#!/bin/bash

##############
##--------Editor......
##############
  # make atom the default editor
  export EDITOR="atom"

##############
##--------Man Stuff......
##############
  # Don’t clear the screen after quitting a manual page
  export MANPAGER="less -X"

  # Highlight section titles in manual pages
  export LESS_TERMCAP_md="$ORANGE"

##############
##--------MISC
##############

  # Prefer US English and use UTF-8
  export LC_ALL="en_US.UTF-8"
  export LANG="en_US"

  # Always enable colored `grep` output
  export GREP_OPTIONS="--color=auto"

  export HOMEBREW_CASK_OPTS="--appdir=/Applications"

##############
##--------Colors
##############

  # here's LS_COLORS
  # github.com/trapd00r/LS_COLORS
  command -v gdircolors >/dev/null 2>&1 || alias gdircolors="dircolors"
  eval "$(gdircolors -b ~/.dircolors)"
